<settings>
  <id>SettingsInfoImpl-711d2608:18845f9efe9:-7a8a</id>
  <workspace>
    <id>WorkspaceInfoImpl-1917c8b9:16fb10eccd5:-7fff</id>
    <name>aceas</name>
    <isolated>false</isolated>
    <dateModified>2023-06-14 01:38:52.143 UTC</dateModified>
  </workspace>
  <contact>
    <id>contact</id>
    <address>University of Queensland</address>
    <addressCity>St Lucia</addressCity>
    <addressCountry>Australia</addressCountry>
    <addressDeliveryPoint>Goddard Building #8 Room 156</addressDeliveryPoint>
    <addressPostalCode>4072</addressPostalCode>
    <addressState>Queensland</addressState>
    <addressType>Work</addressType>
    <contactEmail>esupport@tern.org.au</contactEmail>
    <contactOrganization>Terrestrial Ecosystem Research Network</contactOrganization>
    <contactPerson>TERN Data</contactPerson>
    <contactPosition>Data Publisher</contactPosition>
    <contactVoice>+61733659097</contactVoice>
    <internationalAddress class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressCity class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressCountry class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressDeliveryPoint class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressPostalCode class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressState class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressType class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactEmail class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactFacsimile class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactOrganization class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactPerson class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactPosition class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactVoice class="org.geotools.util.GrowableInternationalString"/>
    <internationalOnlineResource class="org.geotools.util.GrowableInternationalString"/>
    <internationalWelcome class="org.geotools.util.GrowableInternationalString"/>
  </contact>
  <charset>UTF-8</charset>
  <numDecimals>8</numDecimals>
  <onlineResource>http://geoserver.org</onlineResource>
  <proxyBaseUrl>https://geoserver.tern.org.au/geoserver</proxyBaseUrl>
  <verbose>false</verbose>
  <verboseExceptions>true</verboseExceptions>
  <metadata>
    <map>
      <entry>
        <string>LibdeflateSettings.Key</string>
        <libdeflateSettings>
          <compressionPriority>80</compressionPriority>
          <decompressionPriority>80</decompressionPriority>
          <minLevel>1</minLevel>
          <maxLevel>8</maxLevel>
        </libdeflateSettings>
      </entry>
      <entry>
        <string>CogSettings.Key</string>
        <cogSettings>
          <useCachingStream>false</useCachingStream>
          <rangeReaderSettings>HTTP</rangeReaderSettings>
        </cogSettings>
      </entry>
      <entry>
        <string>quietOnNotFound</string>
        <boolean>false</boolean>
      </entry>
    </map>
  </metadata>
  <localWorkspaceIncludesPrefix>false</localWorkspaceIncludesPrefix>
  <showCreatedTimeColumnsInAdminList>false</showCreatedTimeColumnsInAdminList>
  <showModifiedTimeColumnsInAdminList>false</showModifiedTimeColumnsInAdminList>
  <useHeadersProxyURL>false</useHeadersProxyURL>
</settings>