<style type="text/css">
	
table.featureInfo {
	font-family: verdana,arial,sans-serif;
	font-size:12px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	table-layout:fixed;
	border-collapse: collapse;
	width: 400px;
}
table.featureInfo th {
	height: 10px;
	border-width: 1px;
	padding: 0px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
	overflow:hidden;
	white-space:nowrap;
	text-align:left;
	width: 200px;
}
table.featureInfo td {
	height: 10px;
	border-width: 0.5px;
	padding: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #666666;
	background-color: #ffffff;
	overflow:hidden;
	text-align:left;
	width:220px;
	/* Make word-break on table cell */ 
	/* For Firefox */
	white-space: pre-wrap;
	word-break: break-all;

	/* For Chrome and IE */
	word-wrap: break-word;
}
	.headline {font-family:arial;font-size:18px; font-weight:bold; color:#3366AD}
	.subheadline {font-family:arial;font-size:16px; color:#BF6000}
	.hyperlinkline {font-family:arial;font-size:13px; color:#BF3000;text-decoration:underline}
	.infotext {font-family:arial;font-size:13px; color:black; text-align=justify}
	.list {list-style: circle outside; color:#477000}
	.citation {font-family:arial;font-size:11px; color:black; text-align=justify}
	.lt {text-align=left}
</style>
